.sidebar {
    background: #fff;
    grid-column:  1 / 2;
    grid-row: 2 / -1;
    border-right: 1px solid $color-grey-light-2;

    

    ////////////////////////////////////////
    // SIDE NAVIGATION
    .side-nav {
        font-size: 1.4rem;
        list-style: none;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 8rem repeat(2, 5.5rem) 1fr;
        justify-items: start;
        align-items: center;

        &__item--active {
            border-bottom: 1px solid $color-grey-light-2;
            width: 100%;
            display: block;
            background-color: $color-grey-light-1;
        }

        &__item {
            display: block;
            width: 100%;
            
            &:hover{
                background-color: $color-grey-light-1;
            }
        }

        &__link--active:link,
        &__link--active:visited {
                color: $color-primary-dark !important;
        }

        &__link:link,
        &__link:visited {
            font-size: 1.4rem;
            color: $color-black;
            font-family: nunito;
            font-weight: 600;
            text-decoration: none;
            display: block;
            padding: 1.5rem 3rem;
            position: relative;

        }

        &__icon {
            width: 2.4rem;
            height: 2.4rem;
            margin-right: 2rem;
            fill: currentColor;
            transform: translateY(0.8rem);

        }

        
    }

    .legal {
        align-self: end;
    }

}
