.landing {
        display: grid;
        grid-template-columns: repeat(2,  1fr);
        grid-template-rows: 1fr;
        height: 100vh;

        & .sunny {
            background: orange;
        }

        & .cloudy {
            background: greenyellow;
        }
    }